<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>

<div class="bg-light">
<footer id="footer"> <!--Footer has started-->
<table id="tabledata"> <!--Table has started with Location and Contact-->
<tr>
<td>
<div id="location">  <!--Location has started-->
        <h3>Location:</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15095.008471030704!2d72.81642966585848!3d18.942363090403482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7d1de283029ed%3A0x5da3ab75b442c9b!2sMarine%20Lines%2C%20Mumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1653817911247!5m2!1sen!2sin" width="200" height="80" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div> <!--Location has ended-->
</td>
<td>
<div style="padding-left: 10px;"> <!--Contact has started-->
        <table class="getintouch">
      <h3>Contact Us:</h3>
      <tr><span class="glyphicon glyphicon-earphone"><a href="tel:+82387624763"> 9876543214</a></span></tr>
      <tr><span class="glyphicon glyphicon-earphone"><a href="tel:+9822123456" style="padding-left: 2px;"> 9822123456</a></span></tr>
      <tr><span class="glyphicon glyphicon-envelope"><a href="http://gmail.com"> HospitalWebsite@gmail.com</a></span></tr>
      <tr><span class="glyphicon glyphicon-envelope"><a href="http://gmail.com"> HospitalQueries@gmail.com</a></span></tr>
        </table>
</div> <!--Contact has ended-->
</td>
</tr>
</table> <!--Table has ended with Map and Contact-->

<br>
<div id="second"> <!--copyright has started-->
  <h5><span>&copy; copyright 2022 HospitalWebsite Made by<b> Trinity Team</b></span></h5>
</div> <!--copyright has ended-->
</footer> <!--Footer has ended-->
</div>

</body>
</html>

