#about{
    text-align: center;
    font-style:normal;
    color:#223A66;
}

.img1{
    width:100%;
    height: 50rem;
}

.class2{
    text-align: center;
    color:#223A66;

}
.class3{
    width:100%;
    text-align: center;
    font-size:18px;
    display:contents;
    margin:30px; 
    font-size: large; 
}

#inner-colmn{
    background-color: #f6f8fa;
    width:100%;
   margin-left: 10%;
  }
  .why{
      text-align: center;
      padding-bottom: 10px;
      color:#223A66;
  }
  .showcase{
      width:100%
  }
.content{
    width: 50%;
    float:right;
    padding-top: 50px;
    padding-right: 35px;
    text-align: center;
    font-size: large;

    color:#223A66;
    font-size:18px;
    margin-left:80px  
  }
  .img4{
      width:5%;
      height:5%;
      float:left;
      padding-left: 40px;
  }

#main{
    text-align:center;
    width:100%;
}
#tablemainstyle{
  border: 0.2rem;
  border-style: dotted;
}
.tablemain{
    padding-top: 30px;
    width:100%;
}
#tabletest{
  width: 100%;
  text-align: center;
}
