<meta name="viewport" content="width=device-width, initial-scale=1">

<h1 id="about">About Trinity Hospital</h1>
<div>  <!--Name of the Hospital has started-->
<img class="img1" [src]="image2" alt="Doctor">
</div> <!--Name of the Hospital has started-->

<div> <!--Hospital's Information has started-->
    <h1 class="class2">Welcome to Trinity Hospital</h1>
    <p class="class3">
        Founded in the year 1999, Trinity Hospital is one of the best multi-speciality hospitals in Mumbai.Trinity hospital over the years has emerged as the prime provider of high quality professional medical care.Located in Marine Lines, Trinity Hospital is a state-of-the-art medical facility that is very well equipped with all modern facilities and specialised equipment.Its team of doctors is highly skilled and experienced.The nurses and other support staff at the hospital are professionally trained.For its patients, the name Trinity Hospital is synonymous with best patient care.<br><br>

        The hospital is NABH accredited hospital and provides a wide spectrum of medical services as well as advanced surgical techniques.Other than being 190-bedded, the hospital also has pre and post operating rooms with gas lines, monitoring equipment, and defibrillator.
        The patients have the option to choose deluxe suites, premium rooms, twin sharing or triple sharing. Along with that, the hospital also offers Preventive Health Up Packages that can be customized as per the needs of corporates and outpatient consulting rooms. It also has a NABL accredited pathology lab and an imaging centre that complies to AERB.
    </p>
</div> <!-- Hospital's Information has ended-->


        <div id="inner-column"> <!--start of Choose Trinity Hospital?-->
          <div class="showcase">
        <h3 class="why">Why Choose Trinity Hospital?</h3>
        </div>

            <div class="img4">
                <img class="showcase1"  [src]="image1">
            </div>

            <div class="content">
              <ul>
                <li><b>Professional Support Staff: </b>Our nurses, technicians and other support staff are available round the clock for the service of patients.</li> <br><br>
                <li><b>Emergency Medical Services:</b>We provide emergency services for acute medical care to patients with any kind of illnesses or injuries.</li> <br><br>
                <li><b>Advanced Medical Technology:</b>The hospital is well equipped with the latest and advanced medical technology to provide maximum benefit to our patients.</li>
                </ul>          
              </div>
        </div> <!--end of Choose Trinity Hospital?-->


    <table class="tablemain">  <!--Our motto, Mission and vision has started-->
    <div id="main">
        <h3 style="color:#223A66;" >Our Motto</h3>
        <h5><i>We are here to serve!</i></h5>
        <h3 style="color:#223A66;">Our Vision</h3>
        <h5><i>We want everyone to have medical facilities in low price and with great comfortability.
          We are here to offer you expensive surgeries in your budget. We care for you!</i></h5>
            <h3 style=" color:#223A66;">Our Mission</h3>
            <h5><i>Quality Based Healthcare: To develop a relationship between doctor and patient where continuous
              health improvements are a way of better & healthy life!</i></h5>
        </div>
    </table>  <!--Our motto, Mission and vision has ended-->


   <h3 style="text-align: center; color:#223A66;">Testimonials</h3> <!--Testimonials has started-->
        <div class="team">
            <table id="tabletest">
              <tr>
              <td>"Best nursing staff with good knowledge ad very supprtive and <br>
                things very clear.Must recommend hospital in Thane."
              </td>
              <td>"Must recommend hospital in Thane.
                Ambulance service <br> and all emergency services are done on time."</td>
              <td>"Our services very good. staff is so helpful and caring.
               <br> I am fully satisfied with your service thank you..."</td>
              </tr>
              <br>
              <tr>
                <td><i>-Neha Dongle</i></td>
                <td><i>-Abhishek Sarpotdar</i></td>
                <td><i>-Sanika Sanjay</i></td>
              </tr>
            </table>
        </div> <!--Testimonials has ended-->






