<div class="name">
  <h1>Book your Physical Appointment</h1>
  <p><i>Book your Physical Appointment with our best doctors beforehand.</i></p>
</div>

<div class="btncontainer" id="go-back"> <!--Go Back Button has started-->
  <button class="btn btn-info float-end" id="button" type="submit"
  [routerLink]="['/Booking-list']"
  routerLinkActive="router-link-active">Edit-Your Booked Appointments</button>
</div> <!--Go Back Button has ended-->

<div class="container"> <!--Container of form has started-->
  <div class="row top-row"> <!--top row has started-->
    <div class="col-xs-12 row end-xs"> <!--col-xs-12 row end-xs-->

        <div class="row"> <!--Form row has started-->
          <div class="col-xs-6">
    <form #bookdetailsForm="ngForm" [formGroup]="myform">
    <div class="row"> <!--First Row has started-->
    <div class=" col-xs-6"> <!--Name Column-->
      <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
        <input type="text" matInput [(ngModel)]="bk.name" name="name" formControlName="name">
      <!--display error-->
       
      </mat-form-field>
    </div>

    <div class="col-md-6"> <!--Phone Column-->
      <mat-form-field appearance="outline">
        <mat-label>Mobile Number</mat-label>
        <input type="text" matInput [(ngModel)]="bk.phone" name="phone" minlength="10" maxlength="10"  >
      </mat-form-field>
    </div>
  </div> <!--First Row has ended-->

  <div class="row"> <!--Second Row has started-->
    <div class="col-md-6"> <!--Email Column-->
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="text" matInput [(ngModel)]="bk.email" name="email" >
        </mat-form-field>
      </div>

      <div class="col-md-6">  <!--Date Of Birth Column-->
        <mat-form-field appearance="outline">
          <mat-label>Date Of Birth</mat-label>
          <input type="date" matInput id="date" [(ngModel)]="bk.dob" name="dob">
        </mat-form-field>
      </div>
</div> <!--Second Row has ended-->

<div class="row"> <!--Third Row has started-->
  <div class="col-xs-6"> 
    <mat-form-field appearance="outline">
      <mat-label>Appointment Date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="bk.appdate" min="2022-07-05" name="appdate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  
  <div id="space"></div>

  <div class="col-xs-6"> <!--Appointment Time-->
    <mat-form-field appearance="outline">
      <mat-label>Appointment time</mat-label>
      <input type="time" matInput [(ngModel)]="bk.apptime" name="apptime">
    </mat-form-field>
  </div>
</div>

<div class="row">  <div class="col-md-6"> <!--Doctor Name Column-->
    <mat-form-field appearance="outline">
        <mat-label>Choose Doctor:</mat-label>
        <select matNativeControl [(ngModel)]="bk.dname" name="dname">
          <option value="Makhdum Kazi">Makhdum Kazi</option>
          <option value="AP Chitre">AP Chitre</option>
          <option value="Raj Patil">Raj Patil</option>
          <option value="Raj Patil">Nadeem Patel</option>
          <option value="Raj Patil">Ajay Pandey</option>
          <option value="Raj Patil">Loya Seth</option>
          <option value="MEnuka Magar">Menuka Magar</option>
        </select>
      </mat-form-field>
     </div>
  </div> <!--Third Row has ended-->

  <div class="row"  id="addbutton"> <!--Add Button Row-->
    <div class="col-xs-4">
        <button class="btn btn-info" (click)="onAdd()">BOOK NOW</button>
    </div>
  </div>
</form>
  </div>
</div>
</div>
  </div>
</div>
