

<div> <!--Our Service Heading Part has started-->
    <h1 id="name">Our Services</h1>
  <p id="para">We serve our patients with utmost care. Patient Care is provided through the In-Patient Department and Out- Patient Department.</p>
  </div>  <!--Our Service Heading Part has ended-->
  
  <div class="backimage"> <!--Our Services Head Image-->
    <img class="image2" [src]="Image2" alt="BackImage">
   </div>
  <br>
  <table id="tabledata"> <!--Services Part has started-->
    <tr>
      <td>Patient Care</td>
      <td>Medical Services</td>
      <td>Surgical Services</td>
      <td>Support Services</td>
    </tr>
    <tr>
      <td>Cancer Care</td>
      <td>Paediatric Care</td>
      <td>Patient Education</td>
      <td>Insurance Services</td>
    </tr>
  </table>  <!--Services Part has ended-->
  <br>
  <br>
  <div id="Showcase-column"> <!--ICCU/ICU Part has started-->
  <div id="showcase">
    <div class="column">
        <img class="image" [src]="Image" alt="ICCU Ward"><br>
    </div>
    <div class="column1">
        <h1 class="title">ICCU/ICU</h1>
        <p class="info">The ICU and ICCU are on the first,second and third floor the annex building with 15 and 16 beds respectively. They offer the latest in critical care technology.</p>
    </div>
    </div>
  </div> <!--ICCU/ICU Part has ended-->
  <br>
  <br>
  <div id="Showcase-column1"> <!--wards Part has started-->
    <div id="Showcase1">
        <div class="column2">
            <h1 class="titlewards">Wards</h1>
            <p class="info">The wards comprising 121 beds, classified into single, twin-sharing and general wards, can accommodate 4, 6 and 7 patients each respectively.</p>
        </div>
        <div class="column3">
            <img class="image1" [src]="Image1" alt="Wards">
        </div>
        </div>
    </div> <!--wards Part has ended-->
  
    <dl id="data"> <!--Blood Donation Part has started-->
      <dt id="dtitle"><h1>Blood Donation</h1></dt>
      <dd id="ddata">
        Blood cannot be manufactured nor engineered; blood is all natural and the only source is -you, the volunteer donor.
        <br>
        Every time you donate, you are helping to give another person a chance at life. In fact, your donation can save the lives of up to three people because blood can be separated into several crucial components; red blood cells, plasma, cryoprecipitate, and platelets.
      </dd>
      <dt id="dtitle"><h2>You are eligible to donate blood if you are:</h2></dt>
        <li>Between the age group of 18 years to 60 years.</li>
        <li>Weigh at least 50 kg.</li>
        <li>Have Hb of at least 12.5 gm/100 ml of blood.</li>
        <li>Medically fit.</li>
      <dd id="ddata">
        Only 450 ml of blood (out of 5 liters flowing in your body) is collected at one donation.
        <br>
        You can donate blood once in three months at any of the licensed blood banks or any of the blood donation camps organized by an authorized blood bank.
      </dd>
    </dl> <!--Blood Donation Part has ended-->
    <hr>
    <div> <!--Other Services Part has started-->
    <h1 id="H3">Other Services In Low Prices</h1>
    <table id="secondtable">
      <tr>
        <td>Diet & Nutrition</td>
        <td>Computerised Stress Test</td>
        <td>Urodynamic Studies</td>
        <td>Paediatric Physiotherapy</td>
      </tr>
      <tr>
        <td>Critical Care Medicine</td>
        <td>Ear,Nose & Throat Surgery</td>
        <td>Diabetology</td>
        <td>Neuro Surgery</td>
      </tr>
      <tr>
        <td>Pediatrics</td>
        <td>General Medicine</td>
        <td>Infectional Disease</td>
        <td>Oral Surgery</td>
      </tr>
    </table>
   </div> <!--Other Services Part has ended-->
  
  
  
  