<div class="page-header">
    <div class="container"> <!--Header container-->
      <h1>Update Or Delete Your Physical-Appoinment</h1>
    </div>
</div>

<div class="btncontainer" id="go-back"> <!--Go Back Button has started-->
    <button class="btn btn-info float-end" id="button" type="submit"
    [routerLink]="['/Booking-list']"
    routerLinkActive="router-link-active">Edit-Your Booked Appointments</button>
</div> <!--Go Back Button has ended-->

 <!-- Appointment Details Div-->
 
<div class="row top-row" id="formtable">
  <div class="col-md-6">
    <form class=form1 #bookdetailsForm="ngForm">
      <div class="row">
        <div class="col-md-6"> <!--Name Column-->
          <mat-form-field appearance="outline">
            <mat-label>Full Name</mat-label>
            <input type="text" matInput [(ngModel)]="bk.name" name="name">
          </mat-form-field>
        </div>

        <div class="col-md-6">   <!--Phone Column-->
          <mat-form-field appearance="outline">
            <mat-label>Mobile</mat-label>
            <input type="text" matInput [(ngModel)]="bk.phone" name="phone" minlength="10" maxlength="10">
          </mat-form-field>
        </div>
      </div>

    <div class="row"> <!--Second Row-->
        <div class="col-md-6">  <!--Email column-->
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="text" matInput [(ngModel)]="bk.email" name="email">
          </mat-form-field>
        </div>
  
        <div class="col-md-6"> <!--Date of birth Column-->
           <mat-form-field appearance="outline">
             <mat-label>{{bk.dob}}</mat-label>
            <input type="date" matInput id="date" name="date">
          </mat-form-field> -->
         </div>
    </div>

    <div class="row">       <!-- Third Row-->
      <div class="col-xs-4"> <!--Appointment date Column-->
        <mat-form-field appearance="outline">
          <mat-label>{{bk.appdate}}</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="bk.appdate" name="appdate" min="2022-07-05">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    
      <div class="col-xs-4">  <!--Appointment time Column-->
        <mat-form-field appearance="outline">
          <mat-label>Appointment time</mat-label>
          <input type="text" matInput [(ngModel)]="bk.apptime" name="apptime">
        </mat-form-field>
      </div>
  
      <div class="col-xs-4"> <!--Doctor Name Column-->
            <mat-form-field appearance="outline">
              <mat-label>Choose Doctor:</mat-label>
              <select matNativeControl [(ngModel)]="bk.dname" name="dname">
                <option value="Makhdum Kazi">Makhdum Kazi</option>
          <option value="AP Chitre">AP Chitre</option>
          <option value="Raj Patil">Raj Patil</option>
          <option value="Raj Patil">Nadeem Patel</option>
          <option value="Raj Patil">Ajay Pandey</option>
          <option value="Raj Patil">Loya Seth</option>
          <option value="MEnuka Magar">Menuka Magar</option>
              </select>
            </mat-form-field>
        </div>
      </div>

      <div class="row"> <!--Fouth Row-->
        <div class="col-md-4">
            <button mat-raised-button color="primary" (click)="onUpdate()">Update Details</button>
        </div>
        <div class="col-md-4"> 
          <button mat-raised-button color="warn" (click)="onDelete()">Delete Details</button>
        </div>
        </div>
    </form> <!---End of the Form-->
  </div>
</div>